<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					GitHub <small>Online project hosting using Git</small>
				</h1>
			</div>
<form #form1="ngForm" (ngSubmit)="check(form1)">
  <label>Username</label>
  <input type="text" name="username" [(ngModel)]="user" #username="ngModel" placeholder="Enter your Username" >
  <label>Password</label>
  <input type="password" name="password" [(ngModel)]="pass" #password="ngModel" placeholder="Enter your Password" >
  <button type="submit" class="btn btn-primary">
  <span></span>Login
  </button>
</form> 